body{
	margin:0;
	font-family:Verdana, sans-serif;
	background:url("image/backgroundimlek.jpg") no-repeat center center/cover;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}


.box {
  text-align: center;
  font-family: monospace;
  margin:0 5px;
  padding-top:80px;
}

.box span {
  font-size: 60px;
  font-weight: bold;
  display: block;
  font-variant-numeric: tabular-nums;
  transform:scaleY(2);
  margin-bottom:30px;
  text-shadow:0 2px 5px #FF0000;
}

.box small {
  font-size: 25px;
  letter-spacing: 3px;
}

.container{
	padding:30px;
	margin-top:10px;
	text-align:center;
	justify-content:center;
	width:60%;
	display:flex;
}

h1{
	font-family:serif;
	font-size:clamp(60px, 20vh, 80px);
	align:center;

}


.card{
	background: rgba(0,0,0, 0.8);
	padding:5px;
	margin:20px;
	border-radius:15px;
	text-align:center;
	align-content:center;
	width:25%;
	max-width:30%;
	color:white;
	transition: all.5s;
}

.container:hover .card{
	opacity: .5;
	filter: blur(3px);
}

.container .card:hover{
	opacity:.9;
	filter:blur(0px);
	transform: scale(1.1);
}

.contact {
  text-decoration: none;      
  color: white;               
  background-color: rgba(208, 39, 82,0.5);
  padding: 10px 20px;
  border-radius: 8px;
  font-size:30px;
  display: inline-block;
  font-weight: bold;
  font-family: monospace;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact:hover {
  background-color: rgba(247, 219, 145, 1);
  transform: scale(1.05);
}

.contact:visited {
  color: white;
}

.food-img {
  border-radius: 15px;
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {

  body {
    height: auto;
    padding: 20px 10px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .card {
    width: 70%;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
  }

  .food-img {
    max-height: 400px;
    object-fit: cover; 
    width: 100%;
    border-radius: 15px;
  }

  #countdown {
    flex-wrap: wrap;
    gap: 15px;
  }

  .box span {
    font-size: 40px;
    transform: scaleY(1.5);
  }

  .contact {
    font-size: 20px;
    margin-top: 20px;
  }

}







